/*
Layout rules divide the page into sections. Layouts hold one or more modules together.
*/




.top-bar-container {
	background: $theme-grey;
	border-bottom: 5px solid $theme-green;
	margin-bottom: emCalc(25px);
}

.green-bar {
	background:$theme-green;
	height:5px;
	clear:both;
}

#slider {
	background:#000;
}

section.main {
	top:-18px;
	position:relative;
}


#footer {
	min-height:200px;
	background:$theme-grey;
	border-top:5px solid $theme-green;
}