//custom variables and mixins


/*
cololors
*/


$theme-green: #c0d23e;
$theme-grey: #353535;
$theme-orange: #e15e32;
$theme-lred: #a82743;
$theme-dred: #5c323e;

$default-box-shadow-color: rgba(53, 53, 53, 0.7);

