/*
Modules are the reusable, modular parts of our design. They are the callouts, the sidebar sections, the product lists and so on.
*/

.top-bar {
	ul.social {
		a {
			font-size:23px;
			line-height:32px;

		}
	}

	.name img{
    width:30px;
    padding-top:1px;
	}
}

.logo-area {

  position:relative;
  bottom:-15px;

  .logo {
	 	//@include replace-text("logo.svg");
		background:url("../images/logo.svg") no-repeat;
		height:120px;
		width:120px;
		background-size:contain;
		margin:0;
		a {
			display:block;
			height:100%;
		}	
  }

	.logo-text {
		font-family:Georgia,serif;
		font-weight:normal;
		margin:0 emCalc(5px) 0 0;

	}

	.logo, .logo-text {
		display:inline-block;
	}

	.slogan {
		font-size:emCalc(20px);
	}

}

/*
 navigation
*/
.nav-container {
	background:$theme-orange;
	position:relative;
	bottom:-18px;
	z-index:1000;
}

ul.nav {
	@include horizontal-list(15px);
	//padding:0 0 0 20px;
	background:$theme-grey;
	height:31px;
	
  li {

  	height:100%;
  	border-right:1px solid #1C1C1C;
  	border-left:1px solid #4F4F4F;

  	&:first-child {
  		border-right:none;
  	}

    &:last-child{
    	border-right:none;
    }

		&:hover {
			background:#2B2B2B;
		}

    a {
  		color:#fff;
  		display: block;
  		padding-top:3px;

    }

    &:first-child {
    	a {
    		padding-left:20px;
    	}
    }

  	&.active {
  		border-bottom: 5px solid $theme-lred;
  		height:36px;
  	}

  }
}

/*orbit overrites */
.orbit-container {

	.orbit-slides-container {
		li {
			text-align:center;

			img {
				display:inline;
				visibility: hidden;

			}

			&.slider-img-1 {
        background:url(../images/banner1.png);
        background-size:cover;
			}

			.caption-text {
				font-size: emCalc(32px);
				margin:0 emCalc(10px) 0 0;
				line-height:1;
				vertical-align:middle;
			}
		}
	}

}

.orbit-bullets {
	display:none;
}

/* 
reusable components 
*/

//$default-box-shadow-color: #353535;

.l-feature-box {
	background:#fff;
	@include single-box-shadow();

	p {
		padding:10px;
	}
}


